<section class="menu">
  <ul class="topnav">
    <li><a href="index.html">Home</a></li>
    <li><a href="tutorial.html">Tutorial</a></li>
    <li><a href="#news">Config Files</a></li>
    <li><a href="#contact">Functional Tests</a></li>
    <li><a href="#contact">Extending Minke</a></li>
    <li><a href="#contact">Using Custom Generators</a></li>
    <li><a href="#change_log.html">Change Log</a></li>
    <li><a href="about.html">About</a></li>
    <li class="icon">
      <a href="javascript:void(0);" onclick="showHideMenu()">&#9776;</a>
    </li>
  </ul>
</section>
