<section class="page-header">
  <div><img style="width:90%;" src="img/minke_logo.png" alt="minke"/></div>
  <h2 class="project-tagline"><b>version 1.10.0</b></h2>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/nicholasjackson/minke" class="btn">View on GitHub</a>
  <a href="https://github.com/nicholasjackson/minke/archive/master.zip" class="btn">Download .zip</a>
  <a href="https://github.com/nicholasjackson/minke/archive/master.tar.gz" class="btn">Download .tar.gz</a>
</section>
